<html>
	<head>
		<title>Chat</title>
        <style>
            input { display: block; }
            ul { list-style: none; }
        </style>
	</head>	
	<body>
        <ul id="messages"></ul>
        <form id="chatbox">
            {{.UserData.name}}:</br>
            {{.UserData.when}}
            <textarea></textarea>
            <input type="submit" value="send"/>
        </form>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $(function() {
                var webSockUrl = "127.0.0.1:8080"
                var socket = null;
                var msgBox = $("#Chatbox textarea");
                var messages = $("#messages");
                $("#chatbox").submit(function() {
                    if (!msgBox.val()) return false;
                    if (!socket) {
                        alert("Error: There is no socket connection.");
                        return false;
                    }
                    socket.send(JSON.stringify({"Message": msgBox.val()}));
                    msgBox.val("");
                    return false;
                });
                if (!window["WebSocket"]) {
                    alert("Error: Your browser does not support web sockets.")
                } else {
                    //socket = new WebSocket(`ws://${webSockUrl}/room`);
                    socket = new WebSocket("ws://{{.Host}}/room");
                    socket.onclose = function() {
                        alert("Connetion has been closed");
                }
                socket.onmessage = function(e) {
                    var msg = JSON.parse(e.data);
                    messages.append($("<li>").append(
                        $("<img>").css({
                            width: 50,
                            verticalAlign: "middle"
                        }).attr("src", msg.AvatarURL),
                        $("<strong>").text(msg.Name + ": "),
                        $("<span>").text(msg.Message + ": time: "),
                        $("<span>").text(msg.When),
                        )
                    );
                }
                }
            })
        </script>
	</body>
</html>